:root {
    --primary-color: #085e99 ;
    --secondary-color: #051f31;
    --accent1-color: #fff;
    --accent2-color: #99085e;
    --main-font: "Nunito Sans", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: var(--main-font);
}

header {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 1rem 2rem;
    position: relative;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--primary-color);
    list-style: none;
    padding: 0.5rem; */
}
/*
.nav-link {
    flex: 1 1 auto;
    text-align: right;
}
*/
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
  text-align: center;
  padding: 1rem;
}

.nav-links  {
    list-style: none;
    display: flex;
    gap: 15px;
    transition: 0.7s ease;
    /* color: var(--accent1-color);
    text-decoration: none;
    justify-content: space-around;
    padding:0.75rem 1rem; */
}

.nav-links a {
    text-decoration: none;
    color: var(--accent1-color);
    font-size: 18px;
}

.nav-links a:hover {
    font-weight: 700;
    color: var(--secondary-color) ;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    background-color: var(--accent1-color);
    transition: 0.3s;
}


main .pop-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    justify-items: center;
}

main h1 {
    grid-column: 1 / -1;
    margin: 1rem 0;
}

figcaption {
    text-align: center;
}


footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
}
