:root {
    --body-font: "Roboto", sans-serif;
    --main-color: #468eaf;
    --accent1-color: #e6eff5;
    --accent2-color: #35303094;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: var(--main-color);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: var(--accent1-color);
}